<ion-content   >
  <ion-card>
    <!-- <div style="height: 100%;">
      <span class="span">
        parveen
      </span>
    </div> -->
    <div class="split-container">
      <div class="top-part">
       <h1 style="color: white;">Estimation Tool</h1>
      </div>
      <div class="right-part">
        <h1 style="text-align: center;">Sign Up</h1>
        <h3 style="margin-left: 10%;">Create Account</h3>
         <div class="input-box" > 
          <ion-item class="input">
          <ion-input  placeholder="User Name"></ion-input> 
        </ion-item>
        <ion-item class="input">
          <ion-input  placeholder="Email"></ion-input> 
        </ion-item>
        <ion-item >
          <ion-input   placeholder="Password" ></ion-input> 
          <a class="type-toggle" (click)="toggleShow()">
            <ion-icon class="show-option" *ngIf="!showPassword" name="eye-off-outline"></ion-icon>
            <ion-icon class="hide-option" *ngIf="showPassword" name="eye-outline"></ion-icon>
         </a>
        </ion-item>
        <ion-row >
          <P class="row" >Forgot Your Password <ion-icon name="lock-closed-outline"></ion-icon></P>
         </ion-row>
         <button class="button2">Login</button>
         <p class="signup" >Don't have an account? <a href="#">Sign Up</a> </p>
      </div>
      </div>
    </div>
    
<!--     
     <ion-row>
      parveen
     </ion-row>
    -->
  </ion-card>
</ion-content>
