ion-content {
    --background: rgba(26, 74, 96, 0.8999999761581421);
  }
  .card-container{
  //   max-width: 50%;
  //   margin-top: 10%;
  //   margin-left: 10%;
    max-height: 100%;
   }
   ion-card {
    background: linear-gradient(rgba(26,74,96,1), rgba(179,205,205,1));
    --color: black;
    align-items: center;
    height: 75%;
    width: 65%;
    margin-top: 6%;
    margin-left: 18%;
    margin-bottom: 8px;
  }
  .span{
    height: 100%;
    width: 50%;
    display: inline;
  }
  .split-container {
    display: flex;
    flex-direction: row;
    height: 100%; /* Set a fixed or relative height for the container */
    border-radius: 0px;
  }
  
  .top-part {
    flex: 1;
    /* Adjust styling for the top part as needed */
  text-align: center;
  margin-top: 25%;
  }
  
  .right-part {
    flex: 1.6;
    background-color: white;
    align-items: center;
    /* Adjust styling for the bottom part as needed */
    border-top-left-radius: 20px; /* Adjust the radius value as needed */
    border-bottom-left-radius: 20px; 
  }
  
  .input{
    margin-top: 0px;
  }
  .input-box{
   padding-left: 7%;
    padding-right: 80px;
  }
  // .ion-card{
  //   height: 500px;
  // }
  .row{
    margin-top: 8px;
  margin-left: 55%;
  }
  
  .button2 {
    margin-top: 20px;
    margin-left: 3%;
    background-color: white;
    color: black;
    border: 2px solid rgba(26, 74, 96, 0.8999999761581421);
    border-radius: 5px;
    width: 99%; /* Increase the width as needed */
    height: 35px; /* Increase the height as needed */
  }
  .signup{
    margin-left: 10px;
  }
  
  .button2:hover {
    background-color: rgba(26, 74, 96, 0.8999999761581421);
    color: white;
  }
  
  
  
  
  